{% extends 'base.html.twig' %}

{% block body %}
    <h1>Framaslides indisponible</h1>

    <p>
        Bonjour,<br><br>
        Framaslides est actuellement en maintenance, nous reviendrons vite !

    </p>

    <p>
        Hi,<br><br>
        Framaslides is actually in maintenance mode, we'll come back soon !
    </p>
{% endblock %}
