node_modules
*.gz
temp/
deprecated/
.DS_STORE
.tmp/
compiled-templates.js
repl-port
ccw.repl.cmdhistory.prefs
psd-export/
.project
.buildpath
.tern-port
vendor/
dist/
composer.lock

# Cache, logs & sessions
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bin/*
!/bin/console
!/bin/symfony_requirements

# Parameters
/app/config/parameters.yml

# Assets and user uploads
web/*
!web/app.php
!web/app_dev.php
!web/config.php
!web/bundles
!web/img
!web/favicon.ico
web/bundles/*
