body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  opacity: 1;
  transition: 0.7s opacity;

  .fade {
    opacity: 0;
    transition: none;
  }
}

h2 {
  font-size: 2.5rem;
}

.label.versions {
  cursor: pointer;
}

.item-hidden {
  transition: opacity .4s ease-out;
  opacity: 0;
  width: 0;
}

.card-footer {

  .glyphicon {
    font-size: 2.5rem;
  }
}

.icon {
  margin: 0 5px;
}
