body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  opacity: 1;
  transition: 0.7s opacity;
}

header {

  .strut-logo img {
    height: 58px;
  }

  a.logo {
    text-decoration: none;

    h1 {
      font-size: 48px;
    }
  }
}

nav.navbar {
  background-color:#B49CD9;

  a.navbar-brand {
    text-decoration: none;
    font-size: 40px;
  }
}

h2 {
  font-size: 2.5rem;
}

.label.versions {
  cursor: pointer;
}

.item-hidden {
  transition: opacity .4s ease-out;
  opacity: 0;
  width: 0;
}

.card-footer {

  .glyphicon {
    font-size: 2.5rem;
  }
}

.icon {
  margin: 0 5px;
}
