<h3>{{ 'group.invitation.email.hello' | trans({ '%username%': username }) }}</h3>

<p>{{ 'group.invitation.email.invited' | trans({ '%groupname%': groupname}) }}</p>

<p>{{ 'group.invitation.email.join' | trans({ '%url%': url }) }}</p>

<p>{{ 'group.invitation.email.cheers' | trans }}</p>